.DS_Store
node_modules/
mock/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.js.map
git.sh
.project

